/*
*
* Typography
*
*/

@import "_ggs_baseline";

@font-face {  
  font-family: "Executive";  
  src: url(../fonts/Executive/executive_regular.eot); /* IE */  
  src: url("Executive"), url(../fonts/Executive/executive_regular.ttf) format("truetype"); /* non-IE */ 
}


* {
  font-family: 'Executive', sans-serif;
}

h1, h2 {
  text-transform: capitalize;
  font-weight:400;
}

h1#branding {
  @include huge;
  font-family: 'Executive', sans-serif;
  font-weight:800;
  text-transform:uppercase;
}

h1#project_name {
  margin-bottom:0px;
}

span#h1_research {
   font-weight:200;
}

body p{
  font-weight:400;
}

a {
    text-decoration:none;
    color:$link_color;
}

.light {
  font-weight:200;
}

.regular {
  font-weight:400;
}

.bold {
  font-weight:800;
  font-style:bold;
}

.italic {
  font-weight:400;
  font-style:italic;
}

.small {
  @include small;
}

#meta_data {
  overflow:auto;
  margin:0px 0px 0px 0px;
}

#content_block {
  float:right;
}

#content_block h2 {
  margin:0px 0px;
}

#content_block h1 {
  margin-bottom:0px;
}

#content_block p:first-child, .img {
  margin-top:50px;
}



.pullquote h3{
  @include italic;
  @include large;
  font-family: 'Ariel', serif;
  color: $colorD;
  margin: 10px;
  margin-left: 0px;
  float: left;
  display: block;
  width: 40%;
  max-width: 400px;
  border-right: 2px solid rgb(204, 204, 204);
  padding-right: 10px;
}

blockquote {
    font-size:0.813em;
    font-weight:200;
}

#layout .img_block_caption{

  color: $colorA;
  clear:left;
  padding:0px 10px 0px 0px;
  margin:10px 10px 10px 0px;
  border-right: 2px solid rgb(204, 204, 204);
    p {
      border-right: 2px solid rgb(204, 204, 204);
    }
}
