//Color//

$colorA:rgba(0,0,0, 1);
$colorB:rgba(160,164,163, 1);
$colorC:rgba(0,0,20, 1);
$colorD:rgba(196,44,37, 1);
$body_pattern:url('../../images/background.png') repeat;
$body_color:green;
$container_pattern:rgba(255,255,255, 1);
$padding:20px;
$icon_color:black;

//Structure//

hr {
  border:1px solid $colorB;
}

//Branding//

@mixin branding ($branding_width, $branding_height) {
  background:url('../../images/branding.png') repeat;
  background-size:cover;
  width:$branding_width; 
  height:$branding_height;
  display:block;
  margin:40px 0px;
}

//Typography//

$link_color:$colorD;

@mixin light {
  font-weight:200;
}

@mixin regular {
  font-weight:400;
}

@mixin bold {
  font-weight:800;
  font-style:bold;
}

@mixin italic {
  font-weight:400;
  font-style:italic;
}

//Elements//

$buttoncolor_primary:$colorA;
$buttoncolor_secondary:gray;
$aspect_ratio:0.8;

@mixin textField ($field_border_color, $field_border) {
  border:$field_border solid $field_border_color;
  padding:5px;
}

@mixin submit ($submit_color, $submit_border_color, $submit_border) {
  border:$submit_border solid $submit_border_color;
  background-color:$submit_color;
  padding:5px;
}

@mixin textarea ($textarea_color, $textarea_border_color, $textarea_border) {
  border:$textarea_border solid $textarea_border_color;
  background-color:$textarea_color;
  padding:5px;
}

@mixin button ($buttoncolor, $border) {
  display:block;
  float:left;
  padding:0 7px;
  background-color:$buttoncolor;
  border:$border solid $colorA;
  line-height:140%;
  text-decoration:none;
  cursor:pointer;
}

  
//Images//

@mixin large_format_image ($large_format_image_width, $large_format_image_height) {
  width:$large_format_image_width;
  height:$large_format_image_height;
}

@mixin medium_format_image ($medium_format_image_width, $medium_format_image_height) {
  width:$medium_format_image_width;
  height:$medium_format_image_height;
}

@mixin small_format_image ($small_format_image_width, $small_format_image_height) {
  width:$small_format_image_width;
  height:$small_format_image_height;
}

@mixin micro_format_image ($micro_format_image_width, $micro_format_image_height) {
  width:$micro_format_image_width;
  height:$micro_format_image_height;
}
